body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%;
    display: block;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(177, 85, 85);
    font-size: 3rem;
    font-family: 'Copperplate', fantasy;
    z-index: 1;
    pointer-events: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

h1:hover {
    opacity: 1;
}